.check-option {
  margin: 30px auto 10px;
  display: flex;
  flex-wrap: wrap;
}

.check-item {
  padding: 10px 10px 0 0;
}

.check-option span,
span {
  cursor: pointer;
}

.add-option {
  margin: 0.9rem 2.7rem;
}