.container {
  width: 100%;
  margin: 0 auto;
}

.dropbox {
  margin: 15px 0 20px;
  display: flex;
  justify-content: flex-end;
}

.select-option {
  padding: 10px 0;
}

.div-container {
  border: 1px solid black;
  width: 240px;
  height: 100px;
  margin: 0 auto;
}

.postttt {
  margin: 10px auto;
  padding: 1rem;
  width: 60%;
  height: 30rem;
  /* background-color: red; */
  /* 가로스크롤(overflow-x), 세로스크롤(overflow-y) */
  overflow-y: auto;
  overflow-x: hidden;
  /* 스크롤바 없애려면 주석풀고 width none으로 */
  /* -ms-overflow-style: none; */
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

/* .postttt::-webkit-scrollbar{
  display: none;
} */

.tableeee {
  /* 중앙정렬 */
  display: flex;
  justify-content: center;
}

.cardddd {
  /* 카드 */
  width: 37rem;
  /* padding: 50px 0; */
  margin: 10px 0;
}

/* 스크롤바 커스텀 */
.postttt::-webkit-scrollbar {
  width: 5px;
}

.postttt::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.postttt::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.postttt {
  scrollbar-color: #D4AA70 #e4e4e4;
}

.postttt::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #ff0055 0%, #00A4FA 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.button-padding {
  padding-bottom: 15px;
}