.container {
  width: 100%;
  margin: 0 auto;
}

.dropbox {
  margin: 15px 0 20px;
  display: flex;
  justify-content: flex-end;
}

.div-container {
  border: 1px solid black;
  width: 240px;
  height: 100px;
  margin: 0 auto;
}

.survey-form {
  margin: 10px auto;
  padding: 1rem;
  width: 60%;
  height: 30rem;
  /* background-color: red; */
  /* 가로스크롤(overflow-x), 세로스크롤(overflow-y) */
  overflow-y: auto;
  overflow-x: hidden;
  /* 스크롤바 없애려면 주석풀고 width none으로 */
  /* -ms-overflow-style: none; */
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

.mid-survey-form {
  /* 중앙정렬 */
  display: flex;
  justify-content: center;
}

.input-card {
  /* 카드 */
  width: 37rem;
  padding: 1rem 1rem 2rem;
  margin: 10px 0;
}

.delete-btn {
  display: flex;
  flex-direction: row-reverse;
}

.answer-box {
  color: #dee2e6;
  border-bottom: 2px dotted #dee2e6;
  padding-bottom: 5px;
  margin: 2.44rem 1.5rem 1.44rem;
}

/* 스크롤바 커스텀 */
.survey-form::-webkit-scrollbar {
  width: 5px;
}

.survey-form::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.survey-form::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.survey-form {
  scrollbar-color: #d4aa70 #e4e4e4;
}

.survey-form::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #ff0055 0%, #00a4fa 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.button-padding {
  padding-bottom: 15px;
}
