@import '../../reset.css';

.post-view-wrapper {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}

.post-top-view-btn {
  display: flex;
  justify-content: space-between;
  border: 0;
  padding: 10px;
}

.post-view-btn {
  display: flex;
  justify-content: center;
  border: 0;
  padding: 10px;
}

.post-view-row {
  margin: 10px 0;
  display: flex;
}

.post-survey {
  height: 20rem;
  width: 100%;
}

.post-content {
  min-height: 270px;
}

.post-view-row > label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.post-view-row > *:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}

.post-item__modal-content {
  padding: 0;
}

.post-item__modal-actions {
  text-align: right;
}

.post-item__actions button,
.post-item__actions a {
  margin: 0.5rem;
}